@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

header {
    padding: 12px;
    height: 56px;
    box-sizing: border-box;
    background-color: rgb(24, 100, 86);
    position: sticky;
    top: 0px;
    z-index: 999;
}

header>* {
    display: inline-block;
    vertical-align: middle;
}

#main-title {
    color: white;
    font-size: 24px;
}

.icon-btn {
    height: 24px;
    background-color: transparent;
    border: none;

}

header>button.icon-btn {
    float: right;
    margin: 0px 2px
}

/* break-shadow */

.break-shadow {
    min-width: 100%;
    min-height: 12px;
    background: rgba(0, 0, 0, 0.38);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0) 80%);
    position: sticky;
    box-sizing: border-box;
    top: 55px;
}

/* NAV */

nav {
    padding: 12px 0px;
    box-sizing: border-box;
    background-color: rgb(24, 100, 86);
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 1);
}

.nav-link {
    color: rgba(78, 188, 171, 0.644);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    height: 42px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.nav-link>span {
    font-size: 14px;
}

nav>button.icon-btn {
    margin: 0px 8px
}

.nav-link[active="true"] {
    color: white;
    border-bottom: 3px solid white;
}

/* CHAT STYLES */

.chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
    padding: 5px 12px;
    column-gap: 8px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.121);
    position: relative;
}

.chat>img {
    height: 100%;
    border-radius: 50%;
}

.chat-content {
    display: flex;
    flex-direction: column;
    flex: 1
}

.chat-content>h3 {
    font-size: 16px;
}

.chat-content>p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.chat-notifications {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 4px;
}

.chat-notifications>p {
    font-size: 12px;
    color: rgb(0, 185, 0)
}

.chat-notifications>span {
    background-color: rgb(0, 185, 0);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    height: 17px;
    width: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* NEW CHAT */

#new-chat {
    height: 52px;
    width: 52px;
    background-color: rgb(0, 185, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
}

/* STATUS */

.status{
    height: 12px;
    width: 12px;
    background-color: rgb(0, 185, 0);
    border-radius: 50%;
    position: absolute;
    left:44px;
    top:2px
}