*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px dashed black;
}
h1{
    margin-bottom: 32px;
}
.row{
    display: flex;
    flex-direction: row;
    height: 128px;
    padding: 0px 48px;
}
.text-center{
    text-align: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-around{
    justify-content: space-around;
}

.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}